<section id="about-me">
    <div class="main-container">
        <div class="photo-container">
            <img class="photo" src="/assets/images/pictures/Photo.png" alt="">
        </div>
        <div class="about-me-container font-karla">
            <h2>{{'aboutMe.sectionText' | translate}}</h2>
            <div class="content">
                <h1 class="font-firacode">{{'aboutMe.headline' | translate}}</h1>
                <div class="text">
                    <p>{{'aboutMe.introText' | translate}}</p>
                    <div class="bulletpoints">
                        <div>
                            <img class="bulletpoint-icon" src="/assets/images/icons/location_on.svg" alt="">
                            <p>{{'aboutMe.bulletpoint1' | translate}}</p>
                        </div>
                        <div>
                            <img class="bulletpoint-icon" src="/assets/images/icons/cognition.svg" alt="">
                            <p>{{'aboutMe.bulletpoint2' | translate}}</p>
                        </div>
                        <div>
                            <img class="bulletpoint-icon" src="/assets/images/icons/new_releases.svg" alt="">                    
                            <p>{{'aboutMe.bulletpoint3' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>