<section>
    <div class="main-container">
        <div class="photo-container">
            <img class="photo" src="/assets/images/pictures/Photo.png" alt="">
        </div>
        <div class="about-me-container font-karla">
            <h2>Who I Am</h2>
            <div class="content">
                <h1 class="font-firacode">About me</h1>
                <div class="text">
                    <p>
                        Hi, I'm a german speaking Frontend Developer based in Dortmund. Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications.
                    </p>
                    <div class="bulletpoints">
                        <div>
                            <img src="/assets/images/icons/location_on.svg" alt="">
                            <p>
                                Flexible in terms of working environments, I can work effectively both on-site in Munich and remotely.
                            </p>
                        </div>
                        <div>
                            <img src="/assets/images/icons/cognition.svg" alt="">
                            <p>
                                I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.
                            </p>
                        </div>
                        <div>
                            <img src="/assets/images/icons/new_releases.svg" alt="">                    
                            <p>
                                In my profession, programming isn't just about writing code; it's a creative form of problem-solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>