.project-list {
    border-top: 1px solid white;
}

.project-entry {
    border-bottom: 1px solid white;
    padding: 40px 32px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &:hover {
        background-color: #3DCFB630;
        img {
            display: unset;
        }
    }
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.tech {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

img {
    width: 295px;
    height: 192px;
    border-radius: 16px;
    left: 110%;
    position: absolute;
    top: -45%;
    display: none;
    aspect-ratio: 16/9;
}
