.project-list {
    border-top: 1px solid white;
    position: relative;
}

.project-entry {
    border-bottom: 1px solid white;
    padding: 40px 32px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &:hover {
        background-color: #3DCFB630;
        img {
            display: unset;
        }
    }
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.tech {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.preview-img {
    width: 295px;
    height: 192px;
    border-radius: 16px;
    left: 110%;
    position: absolute;
    top: -45%;
    display: none;
    aspect-ratio: 16/9;
}

dialog {
    background-color: transparent;
    border-color: transparent;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.content {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1065px;
    height: 560px;
    border-radius: 30px;
    border: 1px;
    background: linear-gradient(0.25turn, #1C1C1C, #08463B);
    z-index: 20;
    padding: 48px 96px;
}

.close-btn {
    position: absolute;
    top: 48px;
    right: 96px;
    width: 24px;
    color: white;
    cursor: pointer;
    &:hover {
        transform: scale(1.4);
    }
}

#next-entry-btn {
    position: absolute;
    bottom: 48px;
    right: 96px;
    top: unset;
    color: #3DCFB6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    &:hover {
        color: white;
        >img {
            /* transform: translateX(2px) translateY(-2px); */
            animation: btn-hover-animation 0.4s forwards;
        }
    }
}

@keyframes btn-hover-animation {
    from {
        transform: translateX(0) translateY(0);
    } to {
        transform: translateX(4px) scale(1.1);
    }
}

@media(max-width: 419px) {
    .content {
        width: 35%;
        padding: 48px 68px;
    }
}

@media(max-width: 440px) {
    .content {
        max-width: 300px;
    }
}

@media (max-width: 700px) {
    .project-entry {
        flex-direction: column;
    }
}

@media (max-width: 1300px) {
    .project-entry {
        &:hover {
            .preview-img  {
                display: none;
            }
        }
    }

    .content {
        max-width: 400px;
        width: 50%;
        height: 86%;
    }

    .close-btn {
        top: 24px;
        right: 24px;
    }

    #next-entry-btn {
        bottom: 24px;
        right: 24px;
    }
}