<div class="project-list">
    @for (entry of projectData; track entry.id; let i = $index) {
        <div class="project-entry" (click)="dialog.show()">
            <span class="title font-firacode">{{entry.title}}</span>
            <span class="tech font-karla">
                @for (tech of entry.tech; track $index) {
                    {{tech}}
                    @if ($index < entry.tech.length - 1) {
                        |
                    }
                }
            </span>
            <img class="preview-img" src="{{entry.imgPath}}" alt="">
        </div>

        <dialog #dialog>
            <div class="content">
                <img class="close-btn" (click)="dialog.close()" src="/assets/images/icons/close.svg" alt="gtdxg">

                <app-project-details [project]="projectData[currentIndex]"></app-project-details>
                 <div id="next-entry-btn" (click)="nextEntry()">
                    <span>Next project</span>
                    <img src="/assets/images/icons/arrow_forward.svg" alt="">
                 </div>
            </div>
            <div class="bg" (click)="dialog.close()">
            </div>
        </dialog>
    }

</div>

