header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 90%;
    position: absolute;
    top: 48px;
    left: 96px;
}

.lang-btn-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid #3DCFB6;
    height: 28px;
    cursor: pointer;
}

.lang-btn {
    height: 100%;
    border-radius: 100px;
    padding: 0 12px;
}

.active {
    background-color: #3DCFB6;
}

.inactive {
    color: #3DCFB680;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -3%;
}

.nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.dot-hover {
    opacity: 0;
    line-height: 0.2;
}

.nav-btn-txt:hover + .dot-hover {
    opacity: 1;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 0.8;
    cursor: pointer;
    >svg {
        width: 80px;
        height: 80px;
        >.box-filled, .icons-filled {
            fill: #3DCFB6;
        }
        >.inner-filled {
            fill:transparent;
            stroke: transparent;
            stroke-width: 0; 
        }
        >.box-filled {
            fill: #3DCFB6;
        }
    }
    &:hover {
        >div {
            color: transparent; 
            -webkit-text-stroke: 0.5px white;
        }
        >svg {
            >.box-filled {
                fill: transparent; 
                stroke: #3DCFB6;
                stroke-width: 1px; 
            }
            >.inner-filled {
                fill: #3DCFB6;
                stroke: #3DCFB6;
                stroke-width: 1px; 
            }
        }
    }
}