<div id="background" class="bg" (click)="showBurgerNav()"></div>
<header>
    <img class="burger-menu-icon" (click)="showBurgerNav()" src="/assets/images/icons/menu.svg" alt="">
    <div id="burger-nav" class="burger-nav font-firacode">
        <a (click)="showBurgerNav()" href="#about-me">
            <div class="nav-btn">
                <a class="nav-btn-txt">{{'header.aboutMe' | translate}}</a>
                <div class="dot-hover">&bull;</div>
            </div>
        </a>
        <a (click)="showBurgerNav()" href="#skills">
            <div class="nav-btn">
                <a class="nav-btn-txt">{{'header.skills' | translate}}</a>
                <div class="dot-hover">&bull;</div>
            </div>
        </a>
        <a (click)="showBurgerNav()" href="#projects">
            <div class="nav-btn">
                <a  class="nav-btn-txt">{{'header.projects' | translate}}</a>
                <div class="dot-hover">&bull;</div>
            </div>
        </a>
        <div class="lang-btn-switch">
            <div id="en-btn-m" (click)="useLanguage('en')" class="lang-btn active">EN</div>
            <div id="de-btn-m" (click)="useLanguage('de')" class="lang-btn inactive">DE</div>
        </div>
    </div>
    <nav class="font-firacode">
        <div class="lang-btn-switch">
            <div id="en-btn" (click)="useLanguage('en')" class="lang-btn active">EN</div>
            <div id="de-btn" (click)="useLanguage('de')" class="lang-btn inactive">DE</div>
        </div>
        <a href="#about-me">
            <div class="nav-btn">
                <a class="nav-btn-txt">{{'header.aboutMe' | translate}}</a>
                <div class="dot-hover">&bull;</div>
            </div>
        </a>
        <a href="#skills">
            <div class="nav-btn">
                <a class="nav-btn-txt">{{'header.skills' | translate}}</a>
                <div class="dot-hover">&bull;</div>
            </div>
        </a>
        <a href="#projects">
            <div class="nav-btn">
                <a class="nav-btn-txt">{{'header.projects' | translate}}</a>
                <div class="dot-hover">&bull;</div>
            </div>
        </a>
    </nav>
    <div class="logo-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path class="box-filled" d="m384-336 56-57-87-87 87-87-56-57-144 144 144 144Zm192 0 144-144-144-144-56 57 87 87-87 87 56 57ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Z"/>
            <path class="inner-filled" d="m384-336 56-57-87-87 87-87-56-57-144 144 144 144Zm192 0 144-144-144-144-56 57 87 87-87 87 56 57ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/>
        </svg>
        <div class="font-firacode">
            <span>Brian<br></span>
            <span>Wester</span>
        </div>
    </div> 
</header>