<header>
    <nav class="font-firacode">
        <div class="lang-btn-switch">
            <div class="lang-btn active">EN</div>
            <div class="lang-btn inactive">DE</div>
        </div>
        <div class="nav-btn">
            <div class="nav-btn-txt">About me</div>
            <div class="dot-hover">&bull;</div>
        </div>
        <div class="nav-btn">
            <div class="nav-btn-txt">Skills</div>
            <div class="dot-hover">&bull;</div>
        </div>
        <div class="nav-btn">
            <div class="nav-btn-txt">Projects</div>
            <div class="dot-hover">&bull;</div>
        </div>
    </nav>
    <div>LOGO PLACEHOLDER</div>
</header>