section {
    background-color: #1C1C1C;
    color: white;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 0 112px 144px 112px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 41px;
    width: 880px;
}

.headlines {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.empty-container {
    width: 332px;
}