section {
    background-color: #1C1C1C;
    color: white;
}

.main-container {
    padding: 0 112px 144px 112px;
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.headlines {
    display: flex;
    flex-direction: column;
    gap: 20px;
}