section {
    background-color: #1C1C1C;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.contact-me-text-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 568px;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.headlines {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    >div {
        width: 616px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.contact-input-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #3DCFB6;
    padding: 32px;
    gap: 16px;
}

input, textarea {
    border: none;
    background: transparent;
    height: 22px;
    caret-color: white;
    color: #3DCFB6;
    &:focus {
        border: none;
        outline: none;
    }
}

.border-bot {
    border-bottom: 1px solid #3DCFB650;
}

button {
    color: #FFFFFF80;
    border-color: #FFFFFF50;
    &:hover {
        color: #FFFFFF;
        border-color: #FFFFFF;
    }
}

[type="checkbox"] + label {
    position: absolute;
    line-height: 24px;
    font-size: 15px;
    align-self: center;
    font-weight: 400;
}
  
[type="checkbox"] {
    position: relative;
    left: 15px;
    top: -4px;
    z-index: 0;
    appearance: none;
    --webkit-appearance: none;
}

[type="checkbox"] + label::before {
    width: 24px;
    height: 24px;
    background-image: url("../../../../src/assets/images/icons/unchecked.svg");
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
    z-index: 5;
    position: relative;
    &:hover {
        background-image: url("../../../../src/assets/images/icons/unchecked_hover.svg");
    }
}

[type="checkbox"]:checked+label::before {
    background-image: url("../../../../src/assets/images/icons/checked.svg");
}

[type="checkbox"]:not(:checked):hover+label::before {
    background-image: url("../../../../src/assets/images/icons/unchecked_hover.svg");
}

[type="checkbox"]:checked:hover+label::before {
    background-image: url("../../../../src/assets/images/icons/checked_hover.svg");
}

.checkbox-label-url {
    color: #3DCFB6;
    text-decoration: none;
    &:hover {
        color: #FFFFFF;
    }
}