<app-header></app-header>
<section>
    <div class="lp-content">
        <div class="main-content">
            <h2 class="font-firacode">Frontend Developer</h2>
            <h1 class="font-karla">Brian Wester</h1>
            <div>
                <button class="font-karla"><span>Check my work</span></button>
                <button class="font-karla"><span>Contact me</span></button>
            </div>
        </div>
    </div>
    <div id="decoration-left">
        <div class="mouse-icon-border"><img src="/assets/images/icons/arrow_down.svg" alt=""></div>
        <div class="v-line"></div>
    </div>
    <div class="banner"> 
        <div class="marquee font-karla" scrollamount="15" behavior="scrolling">
            <div class="marquee-content">
                <div>&bull;</div>
                <div>Available for remote work</div>
                <div>&bull;</div>
                <div>Frontend Developer</div>
                <div>&bull;</div>
                <div>Based in Dortmund</div>
                <div>&bull;</div>
                <div>Open to work</div>
            </div>
            <div class="marquee-content" aria-hidden="true">
                <div>&bull;</div>
                <div>Available for remote work</div>
                <div>&bull;</div>
                <div>Frontend Developer</div>
                <div>&bull;</div>
                <div>Based in Dortmund</div>
                <div>&bull;</div>
                <div>Open to work</div>
            </div>

        </div>
    </div>
</section>


