section {
    background: linear-gradient(0.25turn, #1C1C1C, #08463B);
    height: 100vh;
    width: 100%;
}

h1, h2 {
    margin: 0;
    color: #D9D9D9;
}

h1 {
    font-size: 128px;
    font-weight: 700;
    line-height: 128px;
    letter-spacing: -2%;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
}

.lp-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    >div {
        display: flex;
        flex-direction: row;
        gap: 48px;
    }
}

button {
    height: 48px;
    border-radius: 100px;
    border: solid 1px #FFFFFF;
    padding: 0 24px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 400px;
}

.banner {
    background-color: rgba(255, 255, 255, 0.12);
    width: 100%;
    transform: rotate(-3deg);
    overflow: hidden;
    position: absolute;
    bottom: 10%;
    backdrop-filter: blur(5px);
}

.marquee {
    --gap: 56px;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee-content {
    font-size: 32px;
    font-weight: 400;
    color: #3DCFB6;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    padding: 12px 32px;
    animation: txt-scroll-animation 15s linear infinite;
    gap: var(--gap);
    >div {
        display: flex;
        flex-direction: row; 

    }
}

#decoration-left {
    position: absolute;
    left: 96px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.mouse-icon-border {
    height: 48px;
    width: 31px;
    border-radius: 32px;
    border: 1px solid #FFFFFF;
    >img {
        position: relative;
        top: 18px;
        left: 12px;
        height: 12px;
        animation: mouse-scroll-animation .75s alternate infinite;
    }
}

.v-line {
    height: 240px;
    width: 0;
    border: 1px solid #FFFFFF;
}

/* Animations */
@keyframes txt-scroll-animation {
    from {
        transform: translateX(0)
    } to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes mouse-scroll-animation {
    to {
        top: 25px;
    }
}