/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
}


@font-face {
    font-family: 'Karla';
    font-style: normal;
    src: url(/assets/fonts/Karla/Karla-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Karla';
    font-style: italic;
    src: url(/assets/fonts/Karla/Karla-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'FiraCode';
    font-style: normal;
    src: url(/assets/fonts/FiraCode/FiraCode-VariableFont_wght.ttf);
}

.font-karla {
    font-family: 'Karla';
}

.font-firacode {
    font-family: 'FiraCode';
}

button {
    height: 48px;
    width: fit-content;
    border-radius: 100px;
    border: solid 1px #FFFFFF;
    padding: 0 24px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@keyframes btn-txt-scroll-animation {
    from {
      transform: translateX(120%);
    }
    to {
      transform: translateX(-120%);
    }
  }