.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.wrapper-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 480px;
}

.des-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.screenshot {
    max-width: 520px;
    height: 320px;
    border-radius: 30px;
}

.head {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

h1 {
    font-size: 128px;
    font-weight: 700;
    line-height: 100px;
    color: #3DCFB6;
}

h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 51px;
    color: #FFFFFF;
}

#project-des {
    >h3 {
        font-size: 25px;
        font-weight: 700;
        line-height: 28px;
        color: #3DCFB6;
    }
    >p {
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        color: #FFFFFF;
    }
}

#skill-list {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    gap: 16px;
    >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
    }
}

.btn-layout {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

a {
    text-decoration: none;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    padding: 0 24px;
    >img {
        width: 10px;
        height: 10px;
    }
    &:hover {
        color:#3DCFB6;
        >img {
            /* transform: translateX(2px) translateY(-2px); */
            animation: btn-hover-animation 0.4s forwards;
        }
    }
}


@keyframes btn-hover-animation {
    from {
        transform: translateX(0) translateY(0);
    } to {
        transform: translateX(2px) translateY(-2px);
    }
}

@media(max-width: 1300px) {
    .wrapper {
        flex-direction: column-reverse;
    }

    .screenshot {
        width: 90%;
    }
}