<section>
    <div class="left-container">
        <a href="#home">
                <div class="logo-container">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path class="box-filled" d="m384-336 56-57-87-87 87-87-56-57-144 144 144 144Zm192 0 144-144-144-144-56 57 87 87-87 87 56 57ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Z"/>
                    <path class="inner-filled" d="m384-336 56-57-87-87 87-87-56-57-144 144 144 144Zm192 0 144-144-144-144-56 57 87 87-87 87 56 57ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/>
                </svg>
                <div class="font-firacode">
                    <span>Brian<br></span>
                    <span>Wester</span>
                </div>
            </div>
        </a>
        <div class="left-text font-karla">
            <span>Web Developer</span>
            <span>Dortmund Germany</span>
        </div>
    </div>
    <div class="mid-container font-firacode">
        <span>&copy; Brian Wester 2024</span>
    </div>
    <div class="right-container font-karla">
            <a class="socials-url" href="https://github.com/Monomaze" target="_blank">Github</a>
            <a class="socials-url" href="https://www.linkedin.com/in/brian-wester-025b28273/" target="_blank">LinkedIn</a>
            <a class="socials-url" href="mailto:brianwester.dev@gmail.com" target="_blank">Email</a>
            <a class="socials-url" href="/imprint">Legal Notice</a>
    </div>
</section>
